* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
}

.first-table th, .first-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.first-table th {
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100vh;
    background: red;
}
.sidebar li:hover {
    background: blue;
    cursor: pointer;
}
.sidebar li {
    padding: 10px;
    color: wheat;
    width: 100%;
}

.content {
    padding: 10px;
}

button {
    padding: 10px;
    background-color: aqua;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
td {
    padding: 10px;
}
